
</div>

<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ CodinSamurai</p>
  </div>
</div>
<script>
  function goBack() {
  window.history.back()
}
function goFoward(){
  window.history.forward()
}
// var inn = document.forms[0]
// inn.addEventListener("submit",function(){
//   var inn2 = document.querySelector("#exampleFormControlInput1");
//   var inn3 = inn2.value;
//   inn3.toUpperCase();
// })
// console.log(inn);
</script>
</body>
</html>
