<%- include("partials/header"); -%>
<!-- added toUpperCase() to transform header to upper case on individual post page -->
<h1> <%= headd.toUpperCase() %> </h1>
<p> <%= bodyy %> </p>

<%- include("partials/footer"); -%>